<h2>Pirate</h2> 
<div class="pirates">
  <h4>Name: <%= @pirate.name %></h4>
  <h4>Weight: <%= @pirate.weight %></h4>
  <h4>Height: <%= @pirate.height %></h4>
</div>

<h2>Ship 1</h2> 
<div class="ships">
  <h4>Name: <%= @ship_1.name %></h4>
  <h4>Weight: <%= @ship_1.type %></h4>
  <h4>Height: <%= @ship_1.booty %></h4>
</div>

<h2>Ship 2</h2> 
<div class="ships">
  <h4>Name: <%= @ship_2.name %></h4>
  <h4>Weight: <%= @ship_2.type %></h4>
  <h4>Height: <%= @ship_2.booty %></h4>
</div>